# Compiled class file
*.class

*.iml
.idea/*.xml
.idea/**/*.xml
# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
domain-driven-samples/src/
domain-driven-samples/target/classes/
domain-driven-samples/target/maven-archiver/
domain-driven-samples/target/maven-status/
domain-driven-tools/src/main/resources/
domain-driven-tools/target/generated-sources/
domain-driven-tools/target/generated-test-sources/
domain-driven-tools/target/maven-archiver/
domain-driven-tools/target/maven-status/
